---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <main class="min-h-[calc(100vh-96px-88px)] bg-white text-gray-700">
    <div class="mx-auto w-2/3 max-w-5xl py-12">
      <section>
        <div class="flex flex-wrap">
          <div class="flex-auto lg:basis-5/12 px-4">
            <img src="/images/b_laying.jpg" alt="photographer laying on mountainside" class="img-fluid" />
          </div>
          <div class="flex-auto mt-8 lg:mt-0 lg:basis-7/12 px-4 flex flex-col justify-center gap-y-4">
            <p class="text-xl lg:text-lg">
              You've found the hub of my creative outlet. My photography usually connects to exploration, to the earth,
              and to the human, but with a style that's still evolving. You never know what exactly you'll find. I just
              thank you for looking.
            </p>
            <p class="text-xl lg:text-lg">Based in North Carolina.</p>
            <p class="text-xl lg:text-lg">Any questions? Feel free to contact me!</p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
