---
import Layout from '../../layouts/Layout.astro'

export function getStaticPaths() {
  return [
    { params: { gallery: 'drone' } },
    { params: { gallery: 'illustration' } },
    { params: { gallery: 'landscape' } },
    { params: { gallery: 'portrait' } },
  ]
}

const { gallery } = Astro.params
---

<Layout title=`Brianna Haferman | ${gallery.charAt(0).toUpperCase() + gallery.slice(1)}`>
  <main class="min-h-[calc(100vh-96px-88px)] bg-white text-gray-700">
    <h1>{gallery} page!</h1>
  </main>
</Layout>
