---
interface Props {
  title: string
  body: string
  href: string
  color: string
}

const { href, title, body, color } = Astro.props
---

<div class="bg-[var(--card-color)] flex p-1 rounded-lg cursor-pointer">
  <a href={href} class="w-full h-full text-gray-700">
    <h2>
      {title}
    </h2>
  </a>
</div>

<style define:vars={{ 'card-color': color }}></style>
